/* main (hero) background */
.bgimage {
    height: 100vh;
    background: linear-gradient(to bottom right, #10227d, #1b1d62, #4955D4);
    background-size: cover;
    position: relative;
}

/* text above main (hero) background */
.hero_title {
    font-size: 4.5rem;
}

.hero_desc {
    font-size: 2rem;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.imageProfilePage{
    width: 100%;
}

/* skills cards section */
.skillsText.card {
    height: 280px;
    cursor: pointer;
}

.skillsIcon {
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}

.card-title {
    text-align: center;
}

.card:hover .card-body {
    color: #000000
}

.skillsText:hover {
    border: 1px solid #000000
}

/* education */
.eduIcon {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.eduIcon2 {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* display background colour on navbar scrolling */
.navbarScroll.navbarDark {
    background-color: #000000;
}

/* spacing and padding to sections */
#profile, #skills {
    margin-top: 4rem;
    padding-bottom: 4rem;
}

/* font */
* {
    font-family: 'Courier New', Courier, monospace;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

/* spacing on all sections */
#about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}
#contact {
    padding-bottom: 4rem;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-github:hover {
    color: #4955D4;
}
.fab {
    color: #ffffff;
}

/* footer styling */
#footer {
    background-color: #1C20AF;
    text-align: center;
}

/* dividers */
.wrapper
{
  padding-bottom: 20px;
}

.divider
{
  position: relative;
  margin-top: 40px;
  height: 1px;
}

.div-transparent:before
{
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-dot:after
{
  content: "";
  position: absolute;
  z-index: 1;
  top: -9px;
  left: calc(50% - 9px);
  width: 18px;
  height: 18px;
  background-color: #1C20AF;
  border: 1px solid rgb(48,49,51);
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px white,
          0 0 0 4px white;
}